#navigator {
    text-align: left;
    background-color: #202020;
}

#navigator ul {
    list-style-type: none;
}

#navigator ul li {
    display: inline;
    border-right: 1px solid #ffffff;
}

#navigator ul li .link {
    padding: 0 20px;
    text-decoration: none;
    color: white;
}

#navigator ul li .link:hover {
    background-color: #505050;
}